html,
body {
  height: 100%;
  font-family: "Cute Font", cursive;
  font-family: "M PLUS Rounded 1c", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-page-color: #d3574a;
  --red: #f00;
  --search-bg-color: #bdbdbd;
  --quick-links-secondary: #64b5f6;
  --quick-links-tertiary: #e53935;
}

/* NAV BAR */
.navbar {
  font-size: 13px;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  z-index: 77;
  background-color: var(--main-page-color);
}

.nav-logo{
  font-size: 13px;
}

.nav-item a:hover{
  text-decoration: none;
  color: var(--main-page-color);
}

.nav-group{
  width: 100%;
}

/* END NAV BAR */

/* MAIN HEADER */

.main-page-header {
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-top: 20%;
}

.search-header {
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 10px;
}

.btn-search {
  color: white;
  background-color: #d3574a;
  border: none;
  outline: 0;
  cursor: pointer;
  line-height: 20px;
}

/* END HEADER */

/* STEPS */
.steps-icon {
  font-size: 3em;
  color: var(--main-page-color);
}

.btn-how-it-works {
  background-color: rgb(255, 255, 255, 0.8);
}

.how-it-works-text {
  font-family: "Roboto", sans-serif;
}

/* END STEPS */

/* QUICK LINKS */

.quick-links-main {
  background-color: var(--main-page-color);
}

.quick-links-secondary {
  background-color: var(--quick-links-secondary);
}

.quick-links-tertiary {
  background-color: var(--quick-links-tertiary);
}

/* END QUICK LINKS */

/* FOOTER */
.footer-header {
  background-color: #000;
}

.footer-links {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.footer-logo {
  font-size: 25px;
  border-radius: 100%;
  border: 1px solid #888;
  margin: -10px -12px;
  cursor: pointer;
}

.icons-footer a i {
  color: #777;
}

.icons-footer a:hover {
  color: var(--main-page-color);
}

/* END FOOTER */

/* DOCTORS PAGE */
.result-div {
  max-width: 250px;
  max-height: 300px;
}

.btn-doc-search {
  background-color: #457db4;
}

.edit-btn-icon {
 height: 1rem;
}

.btn-doc-clear {
  background-color: #e5ab5a;
}

.search-filter-title{
  color: #91939a;
}

/* DETAILS */

.btn-contact{
  background-color:#0062cc;
} 

.contact-list{
  width: 60%;
}

.details-info-links a:hover{
  text-decoration: none;
  color: var(--main-page-color);
}

.more-details-invite{
  font-size: 1.6rem;
  text-transform: uppercase;
  word-spacing: 13px;
  letter-spacing: 8px;
}

.mapouter {
  position: relative;
  text-align: right;
}

.map-frame {
  border: 0;
}

.map-view {
  overflow: hidden;
  background: none !important;
  height: 400px;
}

.more-details {
  font-size: 40px;
}

.card-title,
.page-title {
  color: var(--main-page-color);
}


/* BREAK POINTS */

@media (min-width: 992px) {
  .nav-logo {
    font-size: 24px;
  } 
  
  .nav-group{
    width: 78%;
  }

  .main-page-header{
    padding-top: 15%;
  } 
}

@media (min-width: 1200px) { 
  .main-page-header{
    background-position: initial;
    padding-top: 20%;
  }  
 }


