html, body{
    height: 100%;
    font-family: 'Cute Font', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

:root {
    --main-page-color: #009624;
    --red: #FF0000;
    --search-bg-color: #bdbdbd;
    --quick-links-secondary: #64b5f6;
    --quick-links-tertiary: #e53935;
}

/* NAV BAR */
.navbar{
    background-color: var(--main-page-color);
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

/* END NAV BAR */

/* MAIN HEADER */

.header{
    background: url("../img/header-bg.jpg") no-repeat;
    background-size: cover;
}

.search-header{
    background-color: var(--search-bg-color);
    border-radius: 10px;
}

/* END HEADER */

/* STEPS */
.steps-icon {
    font-size: 3em;
    color: var(--main-page-color);
}

/* END STEPS */

/* QUICK LINKS */

.quick-links-main{
    background-color: var(--main-page-color);
}

.quick-links-secondary{
    background-color: var(--quick-links-secondary);
}

.quick-links-tertiary{
    background-color: var(--quick-links-tertiary);
}
/* END QUICK LINKS */

/* .main-content{
    background: url("../img/header-bg.jpg")fixed center no-repeat;
    background-size: cover;
    height: 100%;
} */

.quick-links{
    border: 1px solid #000000;
}